<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro <%= error.status %> - Almoxarifado Virtual</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Almoxarifado Virtual</h1>
      <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/inventario">Inventário (Estoque)</a></li>
          <li><a href="/entrada">Entrada de Itens</a></li>
          <li><a href="/retirada">Retirada</a></li>
          <li><a href="/sobre">Sobre a Equipe</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="card card-erro">
        <h1 class="erro-codigo"><%= error.status %></h1>
        <h2><%= message %></h2>
        <p>
          Ops! Parece que ocorreu um problema ou a página que você tentou
          acessar não existe.
        </p>
        <a href="/" class="btn-submit btn-voltar">Voltar para o Dashboard</a>
      </div>

      <!--detalhes tecnicos, da para ver oque deu de error-->

      <div class="card card-stack">
        <h3>Detalhes Técnicos (Para o Desenvolvedor):</h3>
        <pre class="erro-stack"><%= error.stack %></pre>
      </div>
    </main>
  </body>
</html>
