<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Parabéns recebemos sua reposta!</p>
    <p>Os dados coletados foram:</p>
    <ul>
      <li><%= nome %></li>
      <li><%= altura %> cm.</li>
      <li><%= peso %> kg.</li>
    </ul>
  </body>
</html>
