<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Almoxarifado Virtual</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Almoxarifado Virtual</h1>
      <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/inventario">Inventário (Estoque)</a></li>
          <li><a href="/entrada">Entrada de Itens</a></li>
          <li><a href="/retirada">Retirada</a></li>
          <li><a href="/sobre">Sobre a Equipe</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2><%= title %></h2>
      <p>
        Este sistema de Almoxarifado Virtual foi desenvolvido como a idea
        prática de solucionar apara o controle e gestão de estoque.
      </p>

      <div class="equipe-container">
        <div class="membro-card">
          <h3>
            <img
              src="https://lh3.googleusercontent.com/a/ACg8ocI__2TeLMYY6WUxIoPMmJN-1hCZxef0FUl1XBGZsMNiNGCHBd3q=s360-c-no"
              alt="sua imagem"
              width="100"
              height="100"
            />
            Ghabriel de Araujo
          </h3>
          <p>texto me apresentando</p>
        </div>

        <div class="membro-card">
          <h3>
            <img
              src="hyugueninja.png"
              alt="imagem"
              width="100"
              height="100"
            />Giovani
          </h3>
          <p>texto se apresentando</p>
        </div>
      </div>
    </main>
  </body>
</html>
